<!-- this div displays only when user is not-logged-in // Homepage -->
<div class="login-container">
  <mat-card class="login-card">
    <h1>Personal Budget</h1>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
      <ul>
        <li>
          <!-- Email Input -->
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="email" required />
          </mat-form-field>
        </li>
        <li>
          <!-- Password Input -->
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </li>
      </ul>

      <div *ngIf="authService.errMsg.length" class="error">
        {{ authService.errMsg }}
      </div>
    </mat-card-content>

    <mat-card-actions>
      <!-- Signup Button -->
      <button
        mat-raised-button
        color="accent"
        (click)="signup()"
        [disabled]="!email || !password"
      >
        Signup
      </button>

      <!-- Login Button -->
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [disabled]="!email || !password"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Homepage -->
  <mat-card class="homepage-about">
    <mat-card-title> About </mat-card-title>
    <mat-card-content>
      <p>
        The Personal budget application is your best friend when it comes to
        budgeting!
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="homepage-features">
    <mat-card-title> Features </mat-card-title>
    <mat-card-content>
      <ul>
        <li>Create budget for the month!</li>
        <li>Track how much you spend on each category!</li>
        <li>Compare the amount put into savings each year!</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
