<div>
    <!-- user click this button to logout -->
    <!-- this button displays only when user is logged-in -->
    <button mat-raised-button color="warn" (click)="logout()" *ngIf="authService.user | async">
      Logout
    </button>
  <!-- this header tag displays only when user is logged-in -->
  <div *ngIf="authService.user | async">
    <h1>Welcome: {{ (authService.user | async)?.email }}!</h1>
  <h1>Dashboard</h1>

    <!-- Tabs with Charts -->
    <mat-tab-group color="accent" backgroundColor="primary" mat-align-tabs="center">
      <mat-tab label="Monthly Budget"> </mat-tab>
      <mat-tab label="Monthly Spending"> </mat-tab>
      <mat-tab label="Annual Savings"> <pb-annual-savings></pb-annual-savings>
      </mat-tab>
    </mat-tab-group>

  </div>



<!-- this div displays only when user is not-logged-in -->
<div *ngIf="!(authService.user | async)" class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <ul>
        <li>
          <!-- Email Input -->
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="email" required/>
          </mat-form-field>
        </li>
        <li>
          <!-- Password Input -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
        </li>
      </ul>

      <div *ngIf="authService.errMsg.length" class="error">
        {{authService.errMsg}}
      </div>
    </mat-card-content>

    <mat-card-actions>
      <!-- Signup Button -->
      <button mat-raised-button color="accent" (click)="signup()" [disabled]="!email || !password">
        Signup
      </button>

      <!-- Login Button -->
      <button mat-raised-button color="primary" (click)="login()" [disabled]="!email || !password">
        Login
      </button>
    </mat-card-actions>
    </mat-card>
</div>

</div>
